[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymupdf = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
spacy = "*"
pandas = "*"
sqlalchemy = "*"
databases = {extras = ["aiosqlite"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
